<launch>

    <arg name="launch_gui" default="False" doc="Option to launch the joint state publisher gui."/>
    <arg name="launch_rviz" default="True" doc="Option to launch RViz"/>

    <rosparam command="load" file="$(find homework2)/config/arm.yaml"/>
    <param name="robot_description" command="$(find xacro)/xacro $(find homework2)/urdf/arm.urdf.xacro"/> 

    <!-- <node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher" unless="$(arg launch_gui)"/> -->
    <node name="joint_state_publisher_gui" type="joint_state_publisher_gui" pkg="joint_state_publisher_gui" if="$(arg launch_gui)"/>
    <node name="robot_state_publisher" type="robot_state_publisher" pkg="robot_state_publisher"/>
    <node name="rviz" type="rviz" pkg="rviz" args="-d $(find homework2)/config/arm.rviz" if="$(arg launch_rviz)"/>

</launch>